body{
    background-color:rgb(54, 87, 234);
}
.navbar-nav .nav-link {
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #9d0e66 !important; 
    text-decoration: underline; 
    font-size: 20px;
    font-weight: 600;
}